.flex-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 150px;
}
.flex-items {
  box-sizing: border-box;
  flex-direction: column;
  color: darkblue;
  border: 1cm;
}
