@keyframes callers {
  0% {
    width: 30px;
    height: 30;
    background-color: brown;
  }
  25% {
    background-color: aquamarine;
  }
  33% {
    background-color: purple;
  }
  70% {
    background-color: lemonchiffon;
  }
  50% {
    background-color: yellow;
  }
  100% {
    width: 150px;
    height: 150px;
  }
}
.animate {
  animation-name: callers;
  animation-direction: 15s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
