.font {
  font-family: "Oswald", sans-serif;
}
h1 {
  text-align: center;
}
p {
  background-color: aqua;
  width: 10px;

  transition: all 3s;
}
p:hover {
  background-color: blue;
  width: 75px;
}
.transition-ex1 {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  width: 60px;
  height: 60px;
  background-color: blueviolet;
  transition: 4s 1s;
}
.transition-ex1:hover {
  background-color: darkgoldenrod;
  width: 100px;
}
